/* Color selection
https://www.canva.com/colors/color-palette-generator/
https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=424651&secondary.color=e8081f */
/* :root {
  --primary-color: #424651;
  --primary-color-light: #6d717d;
  --primary-color-dark: #1b1f29;
  --secundary-color: #e8081f;
  --secundary-color-light: #ff5749;
  --secundary-color-dark: #ad0000;
  --primary-text-color: #424651;
  --primary-text-color-light: #6d717d;
  --primary-text-color-dark: #1b1f29;
  --secundary-text-color: #e8081f;
  --secundary-text-color-light: #ff5749;
  --secundary-text-color-dark: #ad0000;
} */

/* CSS HEX 
https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff
*/
:root {
  --rich-black-fogra-39: #0b090aff;
  --eerie-black: #161a1dff;
  --blood-red: #660708ff;
  --ruby-red: #a4161aff;
  --carnelian: #ba181bff;
  --imperial-red: #e5383bff;
  --silver-chalice: #b1a7a6ff;
  --light-gray: #d3d3d3ff;
  --cultured: #f5f3f4ff;
  --white: #ffffffff;
}
